@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./assets/Design-sem-nome.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

input{
  width: 92.4%;
  margin-bottom: 0.5rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.185);
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    font-size: 11px;
    color: #ffffff;
    padding: 10px;
}

.password{
  margin-bottom: 14px;
}

a{
  color: #ffffff;
  font-size: 11px;
  text-decoration: none;
  display: block;
}

::placeholder{
  color: rgba(255, 255, 255, 0.377);
}

.container{
  text-align: center;
  align-items: center;
  width: 17.5rem;
  background: rgba(255, 255, 255, 0.123);
  border: 1px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 22px 22px 0 0;
  padding: 30px;
}

.btn{
  background-color: rgb(0, 140, 255);
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 11px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 25px;
}

.logoFacebook{
  margin-top: -5px;
  font-size: 10px;
  margin-bottom: 60px;
  width: 100px;
}

.face a{
  width: 100px;
  display: flex;
  justify-content: center;
}

.forget{
  text-align: right;
}

.bottomContainer{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  background: rgba(255, 255, 255, 0.123);
  border: 1px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #ffffff80;
  border-radius: 0 0 22px 22px;
  font-size: 10px;
  padding: 15px 30px;
  font-size: 10px;
}

.bottomContainer a{
  margin-left: 2px;
  font-size: 10px;
}

.or{
  font-size: 11px;
  margin-top: 17px;
  margin-bottom: 20px;
}

.logoInsta{
  height: 60px;
  margin-top: 3.125rem;
  margin-bottom: 1rem;
}

.transition {
  opacity: 1;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}
.erro{
  margin-top: 3px;
  font-size: 11px;
  color: rgb(0, 247, 255);
}

@keyframes fadeInUp {
  to {
      transform: translateY(0);
  }
}

:root {
  animation: init 0s 0.5s forwards;
}

@keyframes init {
  100% {
      --init: 1;
  }
}

.btn:hover{
  background-color: rgb(24, 108, 177);
}

.forget a:hover{
  color: rgb(94, 255, 0);
}

.bottomContainer a:hover{
  color: rgb(94, 255, 0);
}